/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;
    --padding-nav-elements:2rem;
    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: ; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HEX color mode */
    --first-color: ;
    --first-color-second: ;
    --first-color-alt: ;
    --first-color-lighter: ;
    --title-color: ;
    --text-color: ;
    --text-color-light: ;
    --input-color: ;
    --body-color: #EFF1F3;
    --header-color: #262626;
    --darkmode_button:#f5f6f7;

    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-extra-light: 200;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/

*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: var(--body-font);
  font-size:var(--normal-font-size);
  background-color: var(--body-color);
  color:var(--text-color);
}

h1,h2,h3,h4{
  color:var(--title-color);
  font-weight:var(--font-semi-bold);
}

 ul{
   list-style: none;
 }

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

#particles-js{
  width: 100wh;
  height: 100vh;
  z-index: -1;
}

/*==================== REUSABLE CSS CLASSES ====================*/

.section_title{
  font-size:var(--h1-font-size);
}
.section_subtitle{
  display:block;
  font-size:var(--small-font-size);
  margin-bottom:var(--mb-3);
}

.section_title, .section_subtitle{
  text-align:center;
}
/*==================== LAYOUT ====================*/

.container{
  max-width:768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid{
  display: grid;
  gap:1.5rem;
}

.header{
  width: 100%;
  position: fixed;
  padding:var(--header-height);
  font-size:var(--h3-font-size);
  left:0;
  background-color: transparent;
}

/*==================== NAV ====================*/

.nav_logo{
  color:var(--header-color);
}

nav{
  float:right;
}

nav .nav_items{
  font-size:var(--normal-font-size);
  font-weight:var(--font-light);
  display: none;
}

nav .nav_link{
  padding-right: var(--padding-nav-elements);
  color:var(--header-color);
}

.darkmode--activated .nav_logo {
  color: var(--body-color);
}

.darkmode--activated #nav-toggle {
  color: var(--body-color);
}

.darkmode--activated .nav_link{
  color: var(--body-color);
}
/* show menu */

.nav_toggle{
  display:inline-block;
}

#nav-toggle.active{
  display:inline-block;
  transform: scale(-1, 1);
}

.add_transform{
  transform: scaleX(1);
  transform-origin: right;
}
/* Active link */


/* Change background header */


/*==================== HOME ====================*/


/*==================== BUTTONS ====================*/


/*==================== ABOUT ====================*/


/*==================== SKILLS ====================*/


/*==================== QUALIFICATION ====================*/


/*==================== SERVICES ====================*/


/* Active Modal */


/*==================== PORTFOLIO ====================*/


/*==================== PROJECT IN MIND ====================*/


/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/


/*==================== FOOTER ====================*/


/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */


/* For large devices */
